body{
    font-family: 'Comic Neue', cursive;
    }
    img{
        height: 100px;
        width: 200px;
        margin-left: 40px;
        border: solid 1px;
    }
    
    section {
        float: left;
        margin: 40px;
        border: 2px solid;
      }
      h2{
        text-align: center;
    }
   
    p{
        text-align: center;
        color: tomato;
    }
    